.card {
  width: 220px;
  height: 370px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-img-top {
  height: 450px;
  object-fit: fill;
  object-position: center;
  display: block;
}
.card-title, .card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 
#Buscador {
margin-left: 380px;
  width: 360px;
  height: 50px;
  transition: border-color 0.3s ease;
}